<% if @user == current_user %>
  <% provide(:title, "マイページ") %>
<% else %>
  <% provide(:title, "#{@user.name}詳細") %>
<% end %>
<div class="row" id="follow-<%= @user.id %>">
  <%= render "show", user: @user, user_follows: @user_follows, user_followers: @user_followers %>
</div>
