<% provide(:title, "top") %>
<div class="home">
  <div class="home-text">
    <h1>Trachil</h1>
    <p>子供と旅行へ行こう！！</p> 
    <% unless user_signed_in? %>
      <div class="top-login login-show">ログイン</div>
    <% end %>
  </div>
</div>
