<% provide(:title, "投稿一覧") %>
<div class="row">
  <div class="col-xs-12">
    <div class="category-btn col-xs-12">
      <ul class="travel-ul category-bex">
        <li class="play-box">遊び</li>
        <li class="hotel-box">ホテル</li>
        <li class="meal-box">食事</li>
      </ul>
    </div>
    <%= render "travel_index", travels: @travels %>
  </div>
</div>
