<% provide(:title, "投稿一覧") %>
<div class="row">
  <div class="col-xs-12">
    <div class="category-btn col-xs-12">
      <ul class="travel-ul category-box">
        <li class="play-box" id="show-play-btn">遊び</li>
        <li class="hotel-box" id="show-hotel-btn">ホテル</li>
        <li class="meal-box" id="show-meal-btn">食事</li>
      </ul>
    </div>
    <div id="travel-all-index">
      <%= render "travel_index", travels: @travels %>
    </div>
    <div id="travel-play-index">
      <%= render "travel_index", travels: @travels_play %>
    </div>
    <div id="travel-hotel-index">
      <%= render "travel_index", travels: @travels_hotel %>
    </div>
    <div id="travel-meal-index">
      <%= render "travel_index", travels: @travels_meal %>
    </div>
  </div>
</div>
