<div class="row">
  <div class="col-xs-12">
    <div class="travel-new">
      <h2 class="travel-new-header">新規投稿</h2>
      <%= form_with(model:@travel, url:travels_path, local:true, method: :patch) do |f| %>
      <div class="image-new">
      </div>
      <div class="form-new">
      </div>
      <div class="play-new">
        <%= render "plays/play_form", f: f %>
      </div>
      <div class="hotel-new">
        <%= render "hotels/hotel_form", f: f %>
      </div>
      <div class="meal-new">
        <%= render "meals/meal_form", f: f %>
      </div>
      <% end %>
    </div>
  </div>
</div>
