header {
  width: 100%;
  z-index:1000;
  padding: 10px 0 5px 0;
  // border-bottom: 1px solid #C0C0C0;
  position: sticky;
  top: 0;
  background: linear-gradient(#67ceff 10%, #CCFFFF 40%, #CCFFCC 100%);
}
.header-title {
  h1{
  font-family: 'Savoye LET','Segoe Print';
  font-size: 50px;
  padding-top: 10px;
    a:hover {
      text-decoration: none!important;
    }
  }

}

.header_btn {
  font-family: 'Hannotate SC','ＭＳ 明朝', 'MS Mincho','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3';
  background: linear-gradient(#6795fd 0%, #67ceff 60%);
  border-bottom: solid 4px #627295;
  border-radius:20px;
  margin-right: 15px;
  color: #fff;
  margin-top: 15px;
  padding: 10px 15px !important;
  cursor: pointer;
  &:hover {
    background: linear-gradient(#6795fd 0%, #67ceff 100%);
    color: #FF0066;
  }
  &:active {
    transform: translateY(4px);
    border-bottom: none;
  }
}

.login-btn {
  margin-top: 25px;
  padding: 13px!important;
}

.header_image {
  border-radius:200px;
  width: 70px;
  height: 70px;
}

.header-icon {
  padding: 0 !important;
  &:hover {
    background-color: #CCFFFF !important;
    border-radius: 200px;
  }
}
.dropdown-link{

  .dropdown_btn {

  }
}
