.signin-box {
  margin: 30px 0px 30px 0px;
  padding: 30px 20px 30px 20px;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
  border-radius: 15px;

  .sigin-right {
    margin-top: 30px;

    label {
      margin-top: 10px
    }
    span {
      margin-left: 3px;
    }
    input {
      padding-left: 5px;
    }
    .is_child, .is_diaper, .is_baby_food {
      padding-left: 5px;
      padding-right: 8px;
      display: inline-block;
    }
    .radio_button {
      margin-left: 5px;
    }
    .child_people, .child_age {
      width: 50px;
      text-align: center;
      padding-right: 5px;
      margin-left: 10px;
    }
    .from-diaper {
      margin-top: 5px;
    }
    .is_child_show {
      display: none;
    }
  }
  .sigin-left {
    margin-top: 50px;

    p {
      font-weight: bold;
      padding-left: 30px;
    }
    .form_icon {
      width: 200px;
      height: 200px;
      border: 1px dashed #808080;
      border-radius:200px;
      margin-left: 50px;
      background-image: image-url("no_image.jpg");
      background-size: 200px 200px;

      .icon {
        width: 198px;
        height: 198px;
        border-radius:200px;
      }
      &:hover {
        border: 1px solid #808080;
        cursor: pointer;
      }
    }
    #user_image {
      display: none;
    }
    .icon_remove {
      width: 60px;
      font-size: 10px;
      margin-left: 200px;
      cursor: pointer;
      background: linear-gradient(#FF0000 0%, #FF3366 60%);
      border-bottom: solid 4px #627295;
      border-radius:20px;
      padding: 10px;
      color: #fff;
      display: none;
      &:hover {
        background: linear-gradient(#FF3333 0%, #FF3366 100%);
        color: #fff;
      }&:active {
        transform: translateY(4px);
        border-bottom: none;
      }
    }
  }
  .submit-signin {
    padding:10px 40px;
    margin: 40px 0;
  }
  .link-back {
    margin-left: 30px;
  }
}

// user_edit
.profile {
  padding-bottom: 30px !important;
}
.hidden-checkbox {
  display: none;
}
