// Place all the styles related to the user::Travels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.travel-new {
  width: 100%;
  height: 5000px;
  margin: 30px 0;
  padding: 0 40px;
  background-color: #fff;
  .travel-new-header {
    text-align: center;
    padding: 20px 0;
  }
  .image-new {
    width: 90%;
    margin: 0 auto;
    label {
      margin-left: 18px;
    }
    p {
      margin-left: 10px;
      display: inline-block;
      font-size:  5px;
    }
  }

  .form-new {
    width: 90%;
    margin: 0 auto;
    .title-box {
      margin: 10px 0 ;
      .title {
        padding: 5px 5px;
      }
    }
    .traffic-way-box {
      margin: 10px 0 ;
    }
    .recommend-age-box {
      margin: 10px 0 ;
      .recommend-age {
        padding: 5px 5px;
      }
    }
    .travel-day-box {
      margin: 10px 0 ;
      .travel_day {
        padding: 5px 5px;
      }
    }
    .evaluation-box {
      margin: 10px 0 ;
      .evaluation {
        padding: 5px 5px;
      }
    }
    .is-display-box {
      margin: 20px 0 ;
      .radio_button {
        margin: 0 10px;
      }
    }
  }

  .play-new,.hotel-new,.meal-new {
    width: 90%;
    margin: 0 auto;
    .name-box{
      margin: 10px 0 ;
      .new-name {
        padding: 5px 5px;
      }
    }
    .impression-box {
      margin: 10px 0 ;
      .impression {
        padding: 5px 5px 100px 5px;
      }
      p {
        font-size: 5px;
        margin-left: 9px;
        display: inline-block;
      }
    }
    .price-box {
      margin: 10px 0 ;
      .price {
        padding: 5px 5px;
      }
      label {
        margin: 0 8px;
      }
      p {
        font-size: 5px;
        margin-left: 9px;
      }
      span {
        margin-left: 3px;
      }
    }
    .address-box {
      margin: 10px 0;
      .address {
        padding: 5px 5px;
      }
    }
    .diaper_place-box {
      margin: 10px 0 ;
      .radio_button {
        margin: 0 10px;
      }
    }
    .parking-box {
      margin: 10px 0;
      display: none;
      label {
        margin-right: 10px;
      }
    }
    .official_site-box {
      margin: 10px 0;
      p {
        margin-left: 10px;
        display: inline-block;
        font-size:  5px;
      }
      .official_site {
        padding: 5px 5px;
      }
    }
  }
  .submit-btn {
    margin-top: 20px;
    padding-right: 100px !important;
  }
}
.hotel-new, .meal-new, .play-new {
  display: none;
}
.check-box {
  width: 90%;
  padding-bottom: 10px;
  padding-left: 0 !important;
  margin: 20px 0 20px 70px;
  font-weight: bold;
  border-bottom: 1px solid #000;
}
