// Place all the styles related to the user::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show
.quit_btn {
  margin-top: 20px;
  margin-bottom: 5px;
}
.user_show {
  width: 100%;
  height: 20%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
  padding: 20px 0;
  // border-bottom: 1px solid #000;
  .user_show_icon {
    border-radius: 200px;
    width: 150px;
    height: 150px;
  }
  .user_show_child {
    margin-top: 10px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 17px;
    li {
    list-style: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
    padding-top: 3px;
    }
    // .child_show {
    //   border-bottom: 1px solid #000;
    // }
  }
  .introduction {
    margin-top: 10px;
    // height: 150px;
    // border-right: 1px solid #000;
    p {
      font-weight: bold;
    }
  }
}
.user_edit_ptn {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.follow-btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.user_index_btn {
  padding: 0 !important;
  margin-top: 30px!important;
  display: block;
  flex-direction: row;
  text-align: center;
  margin-left: 25px;
  ul {
    margin-bottom: 0;
  }
  li {
    width: 10%;
    float: left;
    list-style-type: none;
    a {
      line-height: 2;
      display: block;
      text-decoration: none;
      color: #fff;
      background-color: #65c6ba;
      cursor: pointer;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }
  }
  .active {
    background-color: #b1e2dc;
    // color: #000;
  }
  p{
    display: inline;
  }
}
#tab-contents {
  padding-left: 0 !important;
  // background-color: #fff;
}
#picture, #follow, #follower {
  background-color: #fff;
  margin-left: 13px;
  box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
  border-radius: 15px;
  margin-bottom: 30px;
}
#picture {
  padding-left: 40px;
}
.is_valid-true {
  padding-top: 40px;
}
#user_id {
  display: none;
}
.quit {
  border-radius: 15px;
  box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
  display: inline-block;
  text-align: center;
  margin-top: 100px;
  margin-left: 300px;
  background-color: #fff;
  padding: 50px;
  strong {
    font-size: 20px;
  }
  .quit-msg {
    margin-top: 10px;
  }
}
