<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left header-title">
      <%= link_to "Trachil", root_path %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_btn glyphicon glyphicon-log-out" %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, data: {"turbolinks" => false}, class: "header_btn glyphicon glyphicon-edit" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, data: {"turbolinks" => false}, class: "header_btn glyphicon glyphicon-log-in" %>
          </li>
      </ul>
    </nav>
  </div>
</header>
